[submodule "Boost"]
	path = Boost
	url = git@github.com:hotkit/fost-boost.git
[submodule "crypto++"]
	path = crypto++
	url = git@github.com:hotkit/fost-crypto.git
[submodule "fost-base"]
	path = fost-base
	url = git@github.com:hotkit/fost-base.git
[submodule "threading"]
	path = threading
	url = git@github.com:hotkit/threading.git
[submodule "cord"]
	path = cord
	url = git@github.com:hotkit/cord.git
